.cart-summary-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.order-total-value {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 16px;
  margin-bottom: 2px;
}
.order-total-label {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}
.confirm-order-button {
  margin-top: 20px;
}
.confirm-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment {
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 5px;
  min-width: 25vw;
}

.payment-options {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.total-items {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 12px;
  margin-top: 2px;
}

.checkout-button {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  border: none;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  outline: none;
  cursor: pointer;
}

.order-success-message {
  color: green;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .d-sm-none {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .order-total-value {
    font-size: 24px;
  }
  .total-items {
    font-size: 16px;
  }
  .d-lg-none {
    display: none;
  }
}
